In [36]:
import pandas as pd
import numpy as np

In [37]:
titanic=pd.read_csv('tested.csv')

In [38]:
titanic.sample(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
168,1060,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
388,1280,0,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
368,1260,1,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.0,0,1,112378,59.4000,NaN,C
92,984,1,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.0,1,2,F.C. 12750,52.0000,B71,S
37,929,1,3,"Cacic, Miss. Manda",female,21.0,0,0,315087,8.6625,NaN,S
260,1152,0,3,"de Messemaeker, Mr. Guillaume Joseph",male,36.5,1,0,345572,17.4000,NaN,S
227,1119,1,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
349,1241,1,2,"Walcroft, Miss. Nellie",female,31.0,0,0,F.C.C. 13528,21.0000,NaN,S

In [39]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(titanic.drop(columns=['Survived']),titanic['Survived'],test_size=0.2)
X_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
122,1014,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.0,1,0,13236,57.7500,C28,C
42,934,3,"Goldsmith, Mr. Nathan",male,41.0,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
367,1259,3,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",female,22.0,0,0,3101295,39.6875,NaN,S
207,1099,2,"Collett, Mr. Sidney C Stuart",male,24.0,0,0,28034,10.5000,NaN,S
61,953,2,"McCrae, Mr. Arthur Gordon",male,32.0,0,0,237216,13.5000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
224,1116,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0,0,0,PC 17606,27.4458,NaN,C
342,1234,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S
283,1175,3,"Touma, Miss. Maria Youssef",female,9.0,1,1,2650,15.2458,NaN,C
74,966,1,"Geiger, Miss. Amalie",female,35.0,0,0,113503,211.5000,C130,C
214,1106,3,"Andersson, Miss. Ida Augusta Margareta",female,38.0,4,2,347091,7.7750,NaN,S

In [44]:
from sklearn.impute import SimpleImputer
si=SimpleImputer()
X_train_Age=si.fit_transform(X_train[['Age']])
X_test_Age=si.fit_transform(X_test[['Age']])

In [42]:
X_train_Age

array([[35.        ],
       [41.        ],
       [22.        ],
       [24.        ],
       [32.        ],
       [30.10737828],
       [27.        ],
       [31.        ],
       [30.10737828],
       [30.        ],
       [30.10737828],
       [36.        ],
       [42.        ],
       [21.        ],
       [25.        ],
       [28.        ],
       [30.10737828],
       [14.        ],
       [42.        ],
       [47.        ],
       [47.        ],
       [42.        ],
       [18.        ],
       [21.        ],
       [20.        ],
       [21.        ],
       [36.5       ],
       [ 0.75      ],
       [28.        ],
       [27.        ],
       [55.        ],
       [23.        ],
       [30.10737828],
       [ 3.        ],
       [26.5       ],
       [16.        ],
       [60.        ],
       [30.10737828],
       [30.        ],
       [17.        ],
       [17.        ],
       [23.        ],
       [36.        ],
       [44.        ],
       [30.10737828],
       [ 2.        ],
       [25.        ],
       [27.        ],
       [30.10737828],
       [30.        ],
       [18.        ],
       [27.        ],
       [36.        ],
       [30.10737828],
       [57.        ],
       [24.        ],
       [20.        ],
       [30.10737828],
       [18.        ],
       [30.10737828],
       [18.        ],
       [41.        ],
       [43.        ],
       [40.        ],
       [67.        ],
       [30.        ],
       [ 1.        ],
       [30.        ],
       [33.        ],
       [61.        ],
       [30.10737828],
       [30.10737828],
       [30.10737828],
       [30.10737828],
       [30.        ],
       [20.        ],
       [30.10737828],
       [24.        ],
       [30.10737828],
       [35.        ],
       [28.        ],
       [30.10737828],
       [29.        ],
       [27.        ],
       [30.10737828],
       [22.        ],
       [30.10737828],
       [30.10737828],
       [18.5       ],
       [45.        ],
       [21.        ],
       [30.10737828],
       [60.        ],
       [48.        ],
       [22.        ],
       [30.10737828],
       [49.        ],
       [29.        ],
       [28.        ],
       [18.        ],
       [32.        ],
       [30.10737828],
       [27.        ],
       [30.10737828],
       [31.        ],
       [30.10737828],
       [40.        ],
       [27.        ],
       [64.        ],
       [24.        ],
       [20.        ],
       [22.        ],
       [28.        ],
       [21.        ],
       [17.        ],
       [30.10737828],
       [34.5       ],
       [30.10737828],
       [30.10737828],
       [55.        ],
       [30.10737828],
       [26.        ],
       [18.5       ],
       [26.        ],
       [45.        ],
       [23.        ],
       [30.10737828],
       [18.        ],
       [32.5       ],
       [30.        ],
       [39.        ],
       [30.10737828],
       [30.10737828],
       [ 9.        ],
       [26.        ],
       [ 5.        ],
       [33.        ],
       [43.        ],
       [50.        ],
       [23.        ],
       [21.        ],
       [33.        ],
       [22.        ],
       [45.        ],
       [17.        ],
       [ 0.17      ],
       [30.10737828],
       [39.        ],
       [26.        ],
       [40.        ],
       [22.        ],
       [24.        ],
       [30.10737828],
       [ 7.        ],
       [35.        ],
       [38.5       ],
       [32.        ],
       [20.        ],
       [58.        ],
       [41.        ],
       [27.        ],
       [23.        ],
       [26.        ],
       [30.10737828],
       [30.10737828],
       [63.        ],
       [40.        ],
       [38.        ],
       [28.        ],
       [22.5       ],
       [46.        ],
       [36.        ],
       [30.10737828],
       [41.        ],
       [36.        ],
       [27.        ],
       [24.        ],
       [43.        ],
       [47.        ],
       [47.        ],
       [30.10737828],
       [59.        ],
       [17.        ],
       [30.10737828],
       [30.10737828],
       [22.        ],
       [30.        ],
       [63.        ],
       [47.        ],
       [30.10737828],
       [25.        ],
       [30.10737828],
       [30.10737828],
       [40.        ],
       [49.        ],
       [30.10737828],
       [29.        ],
       [55.        ],
       [45.        ],
       [ 8.        ],
       [31.        ],
       [ 0.92      ],
       [30.10737828],
       [30.10737828],
       [21.        ],
       [33.        ],
       [19.        ],
       [30.10737828],
       [18.        ],
       [22.        ],
       [21.        ],
       [30.10737828],
       [49.        ],
       [42.        ],
       [57.        ],
       [16.        ],
       [50.        ],
       [41.        ],
       [18.        ],
       [29.        ],
       [45.        ],
       [26.        ],
       [30.10737828],
       [54.        ],
       [31.        ],
       [39.        ],
       [30.        ],
       [30.10737828],
       [30.10737828],
       [18.        ],
       [25.        ],
       [30.10737828],
       [23.        ],
       [30.10737828],
       [30.10737828],
       [48.        ],
       [18.        ],
       [30.        ],
       [ 0.83      ],
       [13.        ],
       [12.        ],
       [50.        ],
       [22.        ],
       [30.        ],
       [23.        ],
       [22.        ],
       [24.        ],
       [29.        ],
       [30.10737828],
       [36.        ],
       [36.        ],
       [24.        ],
       [30.10737828],
       [48.        ],
       [15.        ],
       [26.        ],
       [30.10737828],
       [18.        ],
       [18.5       ],
       [18.        ],
       [ 2.        ],
       [19.        ],
       [37.        ],
       [18.        ],
       [24.        ],
       [30.10737828],
       [33.        ],
       [12.        ],
       [26.        ],
       [30.10737828],
       [35.        ],
       [33.        ],
       [ 6.        ],
       [21.        ],
       [30.        ],
       [22.        ],
       [36.        ],
       [25.        ],
       [30.10737828],
       [14.5       ],
       [50.        ],
       [30.        ],
       [29.        ],
       [30.10737828],
       [48.        ],
       [32.        ],
       [45.        ],
       [17.        ],
       [32.        ],
       [46.        ],
       [20.        ],
       [25.        ],
       [37.        ],
       [21.        ],
       [29.        ],
       [57.        ],
       [20.        ],
       [25.        ],
       [ 1.        ],
       [30.10737828],
       [30.10737828],
       [13.        ],
       [27.        ],
       [24.        ],
       [ 6.        ],
       [23.        ],
       [34.        ],
       [26.        ],
       [27.        ],
       [51.        ],
       [25.        ],
       [48.        ],
       [10.        ],
       [24.        ],
       [53.        ],
       [24.        ],
       [55.        ],
       [45.        ],
       [30.10737828],
       [29.        ],
       [19.        ],
       [30.10737828],
       [23.        ],
       [25.        ],
       [54.        ],
       [62.        ],
       [42.        ],
       [ 8.        ],
       [25.        ],
       [53.        ],
       [30.10737828],
       [ 9.        ],
       [35.        ],
       [38.        ]])

In [57]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [59]:

transformer=ColumnTransformer(transformers=[('tnf1',SimpleImputer(),['Age']),
                                 ('tnf3',OneHotEncoder(sparse=False,drop='first'),['Sex'])],remainder='passthrough')

In [63]:
transformer.fit_transform(X_train).shape

(334, 11)